commands:
  01_install_dependencies:
    command: "cd /var/app/staging && npm ci --omit=dev"
    ignoreErrors: false
  02_prisma_generate:
    command: "cd /var/app/staging && npm run prisma:generate"
    ignoreErrors: false
  03_build_project:
    command: "cd /var/app/staging && npm run build"
    ignoreErrors: false
  04_prisma_migrate:
    command: "cd /var/app/staging && npm run prisma:migrate:deploy"
    ignoreErrors: false
  05_prisma_seed:
    command: "cd /var/app/staging && npm run prisma:seed"
    ignoreErrors: true
