commands:
  01_prisma_generate:
    command: "cd /var/app/staging && npm run prisma:generate"
    ignoreErrors: false
  02_prisma_migrate:
    command: "cd /var/app/staging && npm run prisma:migrate:deploy"
    ignoreErrors: false
  03_prisma_seed:
    command: "cd /var/app/staging && npm run prisma:seed"
    ignoreErrors: false
