option_settings:
  aws:rds:dbinstance:
    DBEngine: postgres
    DBEngineVersion: "16.3"
    DBInstanceClass: db.t3.micro
    DBAllocatedStorage: "20"
    DBUser: fiocondutoruser
    DBDeletionPolicy: Delete
    MultiAZDatabase: false
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://${RDS_USERNAME}:${RDS_PASSWORD}@${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}?schema=public"
