@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #222222;

  --primary: #5f7163;
  --primary-foreground: #ffffff;

  --secondary: #2b398f;
  --secondary-foreground: #ffffff;

  --accent: #abcfef;
  --accent-foreground: #222222;

  --destructive: #e8412f;
  --destructive-foreground: #ffffff;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #222222;

  --radius: 0.5rem;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.hover-bg-primary-80 {
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.hover-bg-primary-80:hover {
  background-color: rgba(95, 113, 99, 0.8) !important; /* #5f7163 com 80% opacidade */
}

.hover-bg-destructive-10 {
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.hover-bg-destructive-10:hover {
  background-color: rgba(232, 65, 47, 0.1) !important; /* #e8412f com 10% opacidade */
}

.logo-custom-rounded {
  border-radius: 16px;
}

.bg-black.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
